div {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

p {
  text-align: center;
}

.alert {
  width: 40%;
  font-size: 40px;
  color: black;
}

.row {
  height: 500px;
  width: 500px;
  overflow: hidden;
  margin: 50px auto 0 auto;
  padding: 10px;
}

.row span {
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  margin-bottom: 40px;
}

.row .play-box {
  font-size: 105px;
  text-align: center;
  cursor: pointer;
  height: 160px;
  width: 160px;
}

.play-box:hover {
  background: rgb(184, 211, 242);
}
